<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<body>

	<button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>



	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left"
		style="display: none" id="mySidebar">
		<button class="w3-bar-item w3-button w3-large" onclick="w3_close()">&#9776;
			Close</button>

		<a th:href="@{/employee/showNewEmployeeForm}"
			class="w3-bar-item w3-button label">Add Employee</a> <a
			th:href="@{/department/show-new-department-form}" class="w3-bar-item w3-button">Add
			Department</a> <a href="#" class="w3-bar-item w3-button">Contact Us</a>
					<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
	</div>


</body>
</html>