<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script type= "text/javascript" th:src="@{/js/actions.js}"></script>
<body>

	<button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>



	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left"
		style="display: none" id="mySidebar">
		<button class="w3-bar-item w3-button w3-large" onclick="w3_close()">&#9776; Close</button>
			
		<a href="#" class="w3-bar-item w3-button label">Link 1</a> <a href="#"
			class="w3-bar-item w3-button">Link 2</a> <a href="#"
			class="w3-bar-item w3-button">Contact Us</a>
	</div>


</body>
</html>